:root{
  --principal: #EAECEE; 
  --black: #000;
}

*{
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
}

body{
  font-family: 'Quicksand', sans-serif;
  font-size: 16px; 
  background-color: var(--principal);
}

a{
  text-decoration: none;
  color: var(--black);
}

/* Displays*/

/*flex*/
.flex{display: flex; }
.flex-column{flex-direction: column;}
.flex-justify-center{justify-content: center;}
.flex-justify-between{justify-content: space-between;}
.flex-align-center{align-items: center;}

/*Grid*/
.grid{display: grid; }
.grid-place-center{place-content: center;}

/*Block */
.inline-block{display:inline-block;}
/*gaps*/
.gap-10{gap: 10px;}
.gap-20{gap:20px;}

/*Margin y padding*/
.m-c{margin: 0 auto; }
.mt-10{margin-top: 10px;}
.mt-20{margin-top: 20px; }
.mt-30{margin-top:30px;}
.mb-20{margin-bottom: 20px; }
.mb-30{margin-bottom: 30px; }
.mlr-auto{
  margin-left: auto; 
  margin-right: auto; 
}
.p-15{padding: 15px; }

/*Text*/
.text-center{text-align: center;}
.font-weight-700{font-weight: 700;}
.text-colot-black{color: var(--black)}

/*width y height */
.h-100-vh{
  height: 100vh; 
}

/*Positions */

.position-relative{position: relative;}
.position-absolute{position: absolute; }

/*border*/
.border-b-1-white{border-bottom: 1px solid white}
.border-b-2-white{border-bottom: 2px solid white}


