:root{
  --principal: #EAECEE; 
}

*{
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
}

body{
  font-family: 'Quicksand', sans-serif;
  font-size: 16px; 
  background-color: var(--principal);
}

/* Displays*/

/*flex*/
.flex{display: flex; }
.flex-column{flex-direction: column;}
.flex-justify-center{justify-content: center;}
.flex-align-center{align-items: center;}

/*Grid*/
.grid{display: grid; }
.grid-place-center{place-content: center;}

/*gaps*/
.gap-10{gap: 10px;}
.gap-20{gap:20px;}

/*Margin y padding*/
.m-c{margin: 0 auto; }
.mt-20{margin-top: 20px; }
.mb-20{margin-bottom: 20px; }
.mb-30{margin-bottom: 30px; }
.mlr-auto{
  margin-left: auto; 
  margin-right: auto; 
}
.p-15{padding: 15px; }

/*Text*/
.text-center{text-align: center;}

/*width y height */
.h-100-vh{
  height: 100vh; 
}

/*Positions */

.position-relative{position: relative;}
.position-absolute{position: absolute; }

